@charset "UTF-8";
/* body{
     width: 100%;
    height: auto;
    background-image: url(./../../imagenes/cajacort2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
} */
.colorh {
  background-color: rgba(255, 40, 40, 0.5); }

.posicion {
  margin-left: 150px; }

.tamaño {
  height: 40px; }

.distancia {
  margin-right: 250px; }

.nav-link {
  margin: 10px;
  color: white;
  font-size: 20px; }

.carr {
  cursor: pointer; }

.menu {
  width: 100%;
  height: auto;
  background-image: url(../imagenes/piza2.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; }

.subtitulo {
  margin-left: 100px; }
  .subtitulo h2 {
    color: white;
    text-decoration: underline;
    text-shadow: 2px 2px 4px #000000; }

.tarjeta {
  margin: 30px; }

.pedidos {
  width: 100%;
  height: auto;
  background-image: url(../imagenes/cajacort2.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; }

.espaciado {
  padding: 30px; }

.titulo {
  padding: 10px; }
  .titulo h1 {
    text-align: center;
    color: #e92041;
    text-decoration: underline;
    text-shadow: 2px 2px 4px #000000; }

.imagen {
  height: 100px; }

.ticket {
  margin-bottom: 10px;
  background-color: #6cff78;
  border-radius: 10px;
  border: 1px solid #000000; }
  .ticket h2 {
    text-align: center;
    color: white;
    text-decoration: underline;
    text-shadow: 2px 2px 4px #000000;
    font-weight: bold; }
  .ticket li {
    font-size: 18px;
    padding: 10px;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    font-weight: bold; }
  .ticket h4 {
    padding: 10px;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    font-weight: bold; }
  .ticket h5 {
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    font-weight: bold; }

.calcular {
  margin: 0 auto;
  width: 100%;
  height: 40px;
  background-color: #00b10f;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  border-radius: 10px;
  font-weight: bold; }

.calcular:hover {
  color: #00b10f;
  background-color: white;
  border: 1px solid #00b10f;
  font-weight: bold;
  text-shadow: 0px 0px 0px #000000; }

.botonConf {
  padding: 10px; }

.fot {
  width: auto;
  height: 150px;
  background-color: #e92041;
  display: flex;
  flex-direction: column; }

.logo {
  width: auto;
  height: auto;
  /*     text-align: center; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  .logo img {
    height: 50px; }

.redes {
  width: auto;
  height: auto;
  margin-right: 150px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center; }

.fa-instagram {
  color: white; }
