/* body{
     width: 100%;
    height: auto;
    background-image: url(./../../imagenes/cajacort2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
} */