.colorh{
    background-color: rgba(255, 40, 40, 0.5);
}

.posicion{
    margin-left: 150px;
}

.tamaño{
    height: 40px;
}

.distancia{
    margin-right: 250px;
}

.nav-link{
    margin:10px;

    color: white;
    font-size: 20px;
}

.carr{
    cursor: pointer;
}